{
	"extends": ["react-app", "prettier"],
	"plugins": ["prettier"],
	"settings": {
		"import/resolver": {
			// "typescript": {},
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"rules": {
		// enforce having an empty line between import groups
		"import/order": ["warn", { "newlines-between": "always" }],
		"quotes": [
			"error",
			"single",
			{
				"avoidEscape": true
			}
		]
	}
}
